/*html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

/* header */
/*.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255 255 255 /0.4);
  backdrop-filter: blur(1px);
  align-items: center;
  padding: 25px 50px;
  margin: 2%;
  border-radius: 20px;
}
.side-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.side-nav ul li a {
  color: #ffff;
  text-decoration: none;
}

/**/

/*body {
  background-color: #000;
}
.top-introduce {
  margin: 100px 0 175px;
}
.top-introduce > p {
  overflow: hidden;
  font-size: 450px;
  color: #fff;
  text-align: center;
}
.top-introduce > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 450px;
  object-fit: cover;
}
/* exp */
.exp {
  max-width: 85%;
  margin: 0 auto 140px;
}
.exp h2 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 80px;
}
.exp .star {
  margin-right: 17px;
  width: 38px;
  height: 38px;
}
.exp ul li {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.exp .exp-year {
  display: flex;
  width: 30%;
}

.exp p {
  color: #fff;
}
.exp .year {
  font-size: 30px;
  margin-right: 96px;
  font-weight: 300;
}
.exp .university {
  font-size: 22px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

/* 200字介紹 */
.blk {
  background-color: #f0f0f0;
  margin: auto 2% 40px;
  padding: 7% 4.5% 8%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blk h3 {
  font-size: 120px;
}
.blk h2 {
  font-size: 35px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin: 15px 0 60px;
}
.blk p {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 320;
  line-height: 180%;
  text-align: justify;
}

/*works牆*/
.works-container {
  margin: 0px 2% 100px;
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 48px;
}
.works .work {
  width: 47%;
}
.works .pic {
  height: 350px;
  background-color: #d9d9d9;
  border-radius: 60px;
}
.works-container p {
  color: #fff;
}
.work .txt {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.works-container .title {
  padding: 20px 10px;
  font-size: 18px;
}
